[submodule "vendor/thinkphp"]
	path = vendor/thinkphp
	url = https://github.com/top-think/thinkphp.git
[submodule "vendor/angular"]
	path = vendor/angular
	url = https://github.com/angular/angular.git
[submodule "PHP/htdocs"]
	path = PHP/htdocs
	url = https://github.com/YZ-zhujie/thinkPhpDemo.git
[submodule "PHP/web"]
	path = PHP/web
	url = https://github.com/YZ-zhujie/thinkPhpDemo.git
[submodule "PHP/docker"]
	path = PHP/docker
	url = https://github.com/YZ-zhujie/thinkPhpDemo.git
[submodule "PHP/nginx.config"]
	path = PHP/nginx.config
	url = https://github.com/YZ-zhujie/thinkPhpDemo.git
[submodule "php"]
	path = php
	url = https://github.com/YZ-zhujie/thinkPhpDemo.git
